//#758058
//#A4AA7C
//#E2E0CF
//#BFBB95

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

//PORTADA

.portada{
    position: relative;
    
    & img{
        filter: brightness(40%);
    }
    .title1{
        position: absolute;
        top: 17%;
        left: 17%;
        
        font-size: 20px;

        color: white;
    }
    .title2{
        position: absolute;
        top: 30%;
        left: 5%;
        
        font-size: 35px;
        width: 600px;
        font-weight: bold;
        color: #C3C6A5;
    }
}


//INTRODUCCION

.titulo_introduccion{
    color: #758058;
  
    font-weight: bold;

    margin-top: 30px;
}
.introduccion{
    padding: 20px;

    & img{
        filter: brightness(80%);
        border-radius: 5px;
        
    }

    .descripcion_introduccion{
        padding: 6px;
        font-size: 17px;
        text-align: center;
        margin-top: 5px;
    }
}

.opiniones{
    margin-top: 40px;
    width: 10%;
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 

    //PORTADA 

    .portada{
        .title1{
            position: absolute;
            top: 20%;
            left: 41%;
            width: 400px;
            font-size: 30px;
            text-align: right;
        }
        .title2{
            top: 37%;
            left: 16%;
            width: 600px;
            font-size: 40px;
            text-align: right;  
        }
    }

    // INTRODUCCION

   .introduccion{
    padding: 5px;
    margin-top: 30px;
    
    .descripcion_introduccion{
        
    }
   }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

    //PORTADA 

    .portada{
        .title1{
            position: absolute;
            top: 20%;
            left: 53%;
            width: 400px;
            font-size: 32px; 
        }
        .title2{
            top: 37%;
            left: 8%;
            width: 850px;
            font-size: 47px;
        }
    }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    //PORTADA 

    .portada{
        .title1{
            position: absolute;
            top: 20%;
            left: 60%;
            width: 400px;
            font-size: 32px; 
        }
        .title2{
            top: 35%;
            left: 22%;
            width: 850px;
            font-size: 55px;
        }
    }
}



